{{!-- master list page --}}
<h1>Letter {{charQuery}}</h1>

<ul class="list-group">
    {{#each listResults}}
    <li class="list-group-item"><a href="/detail/{{this.book_id}}">{{this.title}}</a></li>
    {{/each}}
</ul>

{{#unless listResults.length}}
No results found
{{/unless}}

<nav class="mt-5">
  <ul class="pagination">
    <li class="page-item">
    {{#if isStart}}
    <form action="/master" method="GET">
        <input type="hidden" name="charQuery" value={{charQuery}}>
        <input type="hidden" name="offset" value={{prevOffset}}><button type="submit" class="btn btn-primary" disabled>Previous</button>
    </form>
    {{else}}
    <form action="/master" method="GET">
        <input type="hidden" name="charQuery" value={{charQuery}}>
        <input type="hidden" name="offset" value={{prevOffset}}><button type="submit" class="btn btn-primary">Previous</button>
    </form>    
    {{/if}}
    </li>

    {{#each arrayOfPages}}
    <li class="page-item">
        <form action="/master" method="GET">
            <input type="hidden" name="charQuery" value={{../charQuery}}>
            <input type="hidden" name="offset" value="{{this.offset}}">
            <button type="submit" class="btn btn-default">{{this.pagenumber}}</button>
        </form>
    </li>
    {{/each}}

    {{#if isEnd}}
    <form action="/master" method="GET">
        <input type="hidden" name="charQuery" value={{charQuery}}>
        <input type="hidden" name="offset" value={{nextOffset}}><button type="submit" class="btn btn-primary ml-3" disabled>Next</button>
    </form>
    {{else}}
    <form action="/master" method="GET">
        <input type="hidden" name="charQuery" value={{charQuery}}>
        <input type="hidden" name="offset" value={{nextOffset}}><button type="submit" class="btn btn-primary ml-3">Next</button>
    </form>
    {{/if}}
   </li>
  </ul>
</nav>

<form action="/" method="GET">
    <button type="submit" class="btn btn-primary">Back to Home</button>
</form>