{{!-- master list page --}}
<h1>Letter {{charQuery}}</h1>

<ul>
    {{#each results}}
    <li><a href="/detail/{{this.book_id}}">{{this.title}}</a></li>
    {{/each}}
</ul>

<form action="/master" method="POST">
    <input type="hidden" name="offset" value={{prevOffset}}><button type="submit">Previous</button>
</form>

<form action="/master" method="POST">
    <input type="hidden" name="offset" value={{nextOffset}}><button type="submit">Next</button>
</form>