{{!-- Review page --}}

{{#if resultsLength}}

{{#each reviewResults}}
<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title mb-3">{{this.book_title}} by {{this.book_author}}</h5>
    <p class="card-text mb-2">Reviewed by {{this.byline}} </p>
    <p class="card-text mb-2"> Date reviewed on {{this.publication_dt}} </p>
    <p class="card-text mb-2">{{this.summary}}</p>
    <a href="{{this.url}}" class="btn btn-primary d-block" target="_blank">Full Review</a>
    Copyright &copy; 2020. The New York Times Company. All Rights Reserved.
  </div>
</div>
{{/each}}

{{else}}
    <h1>There are no results.</h1>
{{/if}}